.root
{
    -fx-background-image: url("../imgs/interior.jpg");
    -fx-background-size: cover;
}

.button
{
    -fx-background-color: #ffffff;
}

.button:hover
{
    -fx-background-color: goldenrod;
    -fx-text-fill: #ffffff;
/*    -fx-font-size: 20px;*/
}



.input-field:selected
{
    -fx-border-color: blue;
    -fx-border-width: 3px;
}

.input-field:hover
{
    -fx-border-color: blue;
    -fx-border-width: 3px;
}